@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

/* GLOBAL STYLES */

:root {
  --brand-primary: #7b8e90;
  --brand-secondary: #a5b6b8;
  --brand-tertiary: #c6cdce;
  --brand-quaternary: #d2c8bf;
  --brand-quinary: #e7e5e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

/* FIM GLOBAL STYLES */

.main {
  & .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 4rem;

    & .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      height: 100%;
      width: 100%;

      & .img {
        height: 80rem;
        width: 100%;

        background: url(../img/BarbaraMedeirosCapa.jpeg) top center / cover
          no-repeat;

        mask-image: linear-gradient(
          to bottom,
          #fff 60%,
          rgba(0, 0, 0, 0.0014) 100%
        );

        & .img-mask {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 100%;

          background-color: rgba(255, 255, 255, 0.13);
        }
      }

      & .img-bottom {
        height: 25rem;
        width: 100%;

        background-color: #fff;
      }
    }

    & .presentation-text {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      position: absolute;
      top: 65rem;
      border-top: 0.3rem solid rgba(0, 0, 0, 0.075);

      width: 100%;
      padding: 0rem 8rem;
      background-color: transparent;

      & .logo-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        & .logo {
          height: 22rem;
          width: 25rem;
          margin-bottom: -3.5rem;
        }

        & h1 {
          font-size: 4.5rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.1rem;
          color: #000000be;

          & span {
            color: var(--brand-secondary);
          }
        }
      }

      & .greeting-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2.5rem;

        & .text {
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.8;

          color: #000000be;
        }

        & .contact {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: -0.1rem;
          text-decoration: none;

          padding: 2rem 3rem;
          margin-left: 0.5rem;
          border-radius: 50rem;
          color: #000000be;
          border: 0.1rem solid rgba(0, 0, 0, 0.021);
          /* background-color: var(--brand-secondary); */
          background: linear-gradient(
            to left,

            var(--brand-tertiary),
            #fff,
            var(--brand-tertiary)
          );

          transition: 0.2s ease;

          & .icon {
            font-size: 1.4rem;
            color: #000000b4;
          }
        }

        & .contact:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  & .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem;

    background-color: var(--brand-tertiary);

    & .icon {
      font-size: 2.2rem;
      color: #000000be;
    }

    & .info-service {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & .text {
        font-size: 1.6rem;
        font-weight: 400;
        color: #000000b4;

        & br {
          display: none;
        }

        & span {
          font-weight: 600;
        }
      }
    }

    & .owner,
    .owner-active-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.2rem;

      /* font-size: 4.6rem;
      font-family: "Qwitcher Grypen", cursive;
      font-weight: 500;
      font-style: normal; */

      color: #000000b4;

      & .name {
        font-size: 1.8rem;
        font-weight: 500;
      }

      & .crn {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    & .owner-active-mobile {
      display: none;
    }

    & .address {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & .text {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 400;
        color: #000000b4;
      }
    }
  }

  & .fundamental {
    padding: 10rem 8rem;

    & .fundamental-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;

      height: 100%;
      width: 100%;

      & .img,
      .img-active-mobile {
        height: 50rem;
        width: 50%;

        background: url(../img/alimentacao-saudavel.jpg) top center / cover
          no-repeat;

        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

        & .img-mask {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 50rem;
          width: 100%;

          background-color: rgba(255, 255, 255, 0.151);

          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border: 0.1rem solid rgba(0, 0, 0, 0.021);
        }
      }

      & .img-active-mobile {
        display: none;
      }

      & .text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;

        width: 50%;
        color: #000000b4;

        & .title {
          font-size: 3.5rem;
          font-weight: 600;

          & br {
            display: none;
          }

          & span {
            color: var(--brand-secondary);
          }
        }

        & p {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.8;
        }

        & .warning {
          font-size: 1.6rem;
          font-weight: 600;
        }

        & .contact {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          font-size: 1.6rem;
          font-weight: 600;
          text-decoration: none;

          padding: 2rem 3rem;
          margin-left: 0.5rem;
          border-radius: 50rem;
          color: #000000be;
          border: 0.1rem solid rgba(0, 0, 0, 0.021);
          /* background-color: var(--brand-secondary); */
          background: linear-gradient(
            to left,

            var(--brand-tertiary),
            #fff,
            var(--brand-tertiary)
          );

          transition: 0.2s ease;

          & .icon {
            font-size: 1.4rem;
            color: #000;
          }
        }

        & .contact:hover {
          transform: scale(1.05);
        }
      }
    }

    & .balance {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      width: 100%;

      & .balance-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;

        width: 50%;
        padding: 2rem 4rem;

        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        color: #000000b4;
        background-color: var(--brand-tertiary);

        & .icon-box {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 4.5rem;
          width: 4.5rem;

          border-radius: 50%;
          background-color: #0000001c;

          & .icon {
            font-size: 2.2rem;
          }
        }

        & .title {
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 1.6;
        }

        & .subtitle {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.6;
        }
      }

      & .balance-box-empty {
        width: 50%;
      }
    }
  }

  & .about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8rem;

    & .about-text-box {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 2rem;

      height: 65rem;
      width: 50%;
      padding: 4rem;
      color: #000000b4;

      border: 0.3rem solid rgba(0, 0, 0, 0.075);

      & .title {
        font-size: 3.5rem;
        font-weight: 600;

        & span {
          color: var(--brand-secondary);
        }
      }

      & p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.8;

        & span {
          font-weight: 600;
        }
      }

      /* & .warning {
        font-size: 1.6rem;
        font-weight: 600;
      } */
    }

    & .img-box,
    .img-box-active-mobile {
      height: 65rem;
      width: 50%;

      background: url(../img/BarbaraMedeirosFrenteFoco.jpeg) top center / cover
        no-repeat;

      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;

      & .img-mask {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        background-color: rgba(255, 255, 255, 0.151);
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
      }
    }

    & .img-box-active-mobile {
      display: none;
    }
  }

  & .ebook {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;

    padding: 10rem 8rem;
    width: 100%;

    & .img-box,
    .img-box-active-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      width: 25%;

      & .img {
        height: 35rem;
        width: 100%;

        background: url(../img/ebook-capa.png) top center / cover no-repeat;
        border-radius: 2rem;
        border: 0.3rem solid rgba(0, 0, 0, 0.075);

        & .img-mask {
          display: flex;
          justify-content: center;
          align-items: center;

          height: 100%;
          width: 100%;

          background-color: rgba(255, 255, 255, 0.151);
          border-radius: 2rem;
        }
      }

      & .ebook-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        font-size: 1.6rem;
        font-weight: 600;
        text-decoration: none;

        width: 100%;
        padding: 2rem 3rem;
        margin-left: 0.5rem;
        border-radius: 50rem;
        color: #000000be;
        border: 0.1rem solid rgba(0, 0, 0, 0.021);
        /* background-color: var(--brand-secondary); */
        background: linear-gradient(
          to left,

          var(--brand-tertiary),
          #fff,
          var(--brand-tertiary)
        );

        transition: 0.2s ease;

        & .icon {
          font-size: 1.4rem;
          color: #000;
        }
      }

      & .ebook-contact:hover {
        transform: scale(1.05);
      }
    }

    & .img-box-active-mobile {
      display: none;
    }

    & .text-box {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 2rem;

      width: 50%;
      color: #000000b4;

      & .title {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      & .subtitle {
        font-size: 3.5rem;
        font-weight: 600;
        color: var(--brand-secondary);
      }

      & p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.8;

        & span {
          font-weight: 600;
        }
      }
    }
  }

  & .bottom-empty-box {
    height: 12rem;
    width: 100%;
    background-color: var(--brand-tertiary);
  }

  & .because {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    padding: 10rem 8rem;
    color: #000000b4;

    & .because-title {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: center;

      & span {
        color: var(--brand-secondary);
      }
    }

    & .because-cards-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      width: 100%;

      & .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        height: 35rem;
        width: 38rem;
        padding: 4rem;

        border-radius: 2rem;
        border: 0.3rem solid rgba(0, 0, 0, 0.075);

        & .title {
          font-size: 2.2rem;
          font-weight: 700;
          color: var(--brand-secondary);
        }

        & p {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.6;
        }
      }
    }
  }

  & .service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;

    padding: 10rem 8rem;
    background-color: var(--brand-tertiary);

    & .service-title {
      font-size: 3.5rem;
      font-weight: 600;
      text-align: center;

      color: #000000b4;
    }

    & .service-cards-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      width: 100%;

      & .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        background-color: #ffffffe3;
        /* gap: 2rem; */

        height: 55rem;
        width: 38rem;
        padding: 2rem 4rem;

        border-radius: 2rem;
        border: 0.3rem solid rgba(0, 0, 0, 0.075);

        & .logo {
          height: 20rem;
          width: 80%;

          /* margin-bottom: -6rem; */
          margin-top: -8rem;

          /* border: 0.1rem solid red; */
        }

        & .card-text-box {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 2rem;

          margin-top: -2.5rem;
          /* border: 0.1rem solid blue; */

          & .title {
            font-size: 2.2rem;
            font-weight: 700;
            color: var(--brand-secondary);
          }

          & p {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4;
            color: #000000b4;

            padding-bottom: 2rem;
          }

          & .contact {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            font-size: 1.6rem;
            font-weight: 600;
            text-decoration: none;

            padding: 2rem 3rem;
            margin-left: 0.5rem;
            border-radius: 50rem;
            color: #000;
            border: 0.1rem solid rgba(0, 0, 0, 0.021);
            /* background-color: var(--brand-secondary); */
            background: linear-gradient(
              to left,

              var(--brand-tertiary),
              #fff,
              var(--brand-tertiary)
            );

            transition: 0.2s ease;

            & .icon {
              font-size: 1.4rem;
              color: #000;
            }
          }

          & .contact:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 6rem 8rem;
  /* background-color: var(--brand-tertiary); */

  & .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-bottom: 3.5rem;

    & .icon {
      font-size: 2.2rem;
    }

    & .footer-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      & .number,
      .instagram {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        font-size: 1.6rem;
        font-weight: 400;
        text-decoration: none;
        color: #000000b4;
      }
    }

    & .footer-address {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & .text {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 400;
        color: #000000b4;
      }
    }
  }

  & .footer-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.6rem;
    font-weight: 400;

    width: 100%;
    color: #000000b4;

    padding-top: 3.5rem;
    border-top: 0.1rem solid #0000002a;

    & #footer-text,
    #dev {
      display: flex;
      align-items: center;

      width: 50%;
    }

    & #footer-text {
      justify-content: flex-start;
    }

    & #dev {
      justify-content: flex-end;

      & a {
        color: #000000be;
        font-weight: 500;
        padding-left: 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main {
    & .presentation {
      padding-bottom: 2.5rem;

      & .img-box {
        & .img {
          height: 40rem;
          width: 100%;

          background: url(../img/BarbaraMedeirosCapaFoco.jpeg) top center /
            cover no-repeat;

          mask-image: linear-gradient(
            to bottom,
            #fff 40%,
            rgba(0, 0, 0, 0.0014) 100%
          );
        }

        & .img-bottom {
          height: 34rem;
        }
      }

      & .presentation-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        top: 27rem;
        border: none;
        padding: 0;

        & .logo-box {
          align-items: center;
          width: 100%;

          & .logo {
            height: 20rem;
            width: 65%;
          }

          & h1 {
            font-size: 3rem;
            text-align: center;
            line-height: 1.4;
            padding-top: 1rem;

            & span {
            }
          }
        }

        & .greeting-box {
          align-items: center;

          & .text {
            text-align: center;
            font-size: 1.8rem;
            /* font-weight: 500; */
            line-height: 1.4;
          }

          & .contact {
            width: 80%;
            font-size: 1.6rem;

            & .icon {
            }
          }
        }
      }
    }

    & .info {
      flex-direction: column;
      justify-content: center;
      gap: 2.5rem;
      padding: 5rem 2.5rem;

      & .icon {
        font-size: 2.4rem;
      }

      & .info-service {
        /* gap: 0; */

        & .icon {
          /* padding-right: 0.5rem; */
        }

        & .text {
          font-size: 1.6rem;
          text-align: center;
          font-weight: 300;

          & br {
            display: block;
          }

          & span {
            font-family: 400;
          }
        }
      }

      & .owner,
      .owner-active-mobile {
        text-align: center;
        & .name {
          font-size: 1.8rem;
          font-weight: 400;
        }
        & .crn {
          font-size: 1.6rem;
          font-weight: 400;
        }
      }

      & .owner {
        display: none;
      }

      & .owner-active-mobile {
        display: flex;
        /* padding-bottom: 2rem; */
      }

      & .address {
        & .text {
          font-size: 1.6rem;
          text-align: center;
        }
      }
    }

    & .fundamental {
      padding: 8rem 2.5rem;

      & .fundamental-box {
        flex-direction: column;
        gap: 4rem;

        & .img,
        .img-active-mobile {
          height: 28rem;
          width: 100%;

          & .img-mask {
            height: 100%;
            width: 100%;
          }
        }

        & .img {
          display: none;
        }

        & .img-active-mobile {
          display: flex;
        }

        & .text {
          align-items: center;
          text-align: center;
          /* gap: 2.5rem; */
          width: 100%;

          & .title {
            font-size: 2.6rem;
            line-height: 1.4;

            & br {
              display: block;
            }

            & span {
            }
          }

          & p {
            /* font-size: 2rem; */
            line-height: 1.6;
          }

          & .warning {
            font-size: 1.4rem;
            font-weight: 700;
          }

          & .contact {
            width: 75%;
            font-size: 1.6rem;
            & .icon {
            }
          }
        }
      }

      & .balance {
        gap: 0;

        & .balance-box {
          height: 100%;
          width: 100%;
          gap: 2rem;
          padding: 3rem;

          border-bottom-left-radius: 5rem;
          border-bottom-right-radius: 5rem;

          & .icon-box {
            /* height: 7rem;
            width: 7rem; */

            & .icon {
              /* font-size: 3rem; */
            }
          }

          & .title {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.4;
          }

          & .subtitle {
            /* font-size: 2rem; */
            font-weight: 500;
          }
        }

        & .balance-box-empty {
          display: none;
        }
      }
    }

    & .about {
      flex-direction: column;
      padding: 0 2.5rem;
      gap: 2rem;

      & .about-text-box {
        /* align-items: center; */
        gap: 2rem;

        height: 100%;
        width: 100%;
        padding: 3rem 2.5rem;

        border-radius: 2rem;

        & .title {
          font-size: 2.6rem;
          line-height: 1.4;

          & span {
          }
        }

        & p {
          /* font-size: 2.2rem; */
          /* font-weight: 600; */
          line-height: 1.4;

          & span {
          }
        }
      }

      & .img-box,
      .img-box-active-mobile {
        height: 38rem;
        width: 100%;

        border-radius: 5rem;

        & .img-mask {
          height: 100%;
          width: 100%;

          border-radius: 5rem;
        }
      }

      & .img-box {
        display: none;
      }

      & .img-box-active-mobile {
        display: flex;
      }
    }

    & .ebook {
      flex-direction: column;
      gap: 3rem;
      padding: 8rem 2.5rem 5rem 2.5rem;

      & .img-box,
      .img-box-active-mobile {
        gap: 2.5rem;
        width: 100%;

        & .img {
          height: 38rem;
          width: 100%;
          /* border-radius: 5rem; */

          & .img-mask {
            /* border-radius: 5rem; */
          }
        }

        & .ebook-contact {
          width: 75%;
          font-size: 1.8rem;
          & .icon {
          }
        }
      }

      & .img-box {
        display: none;
      }

      & .img-box-active-mobile {
        display: flex;
      }

      & .text-box {
        /* align-items: center; */
        gap: 2rem;
        width: 100%;
        padding: 0 2.5rem;

        & .title {
          font-size: 1.4rem;
        }

        & .subtitle {
          font-size: 2.6rem;
          line-height: 1.4;
        }

        & p {
          /* font-size: 2.2rem; */
          /* font-weight: 600; */
          line-height: 1.4;
        }
      }
    }

    & .bottom-empty-box {
      height: 10rem;
      width: 100%;
      background-color: var(--brand-tertiary);
    }

    & .because {
      gap: 3rem;
      padding: 8rem 2.5rem;

      & .because-title {
        font-size: 2.6rem;
        line-height: 1.4;

        & span {
        }
      }

      & .because-cards-box {
        gap: 2rem;

        & .card {
          /* gap: 2rem; */
          height: 30rem;
          width: 100%;

          & .title {
            font-size: 2rem;
            line-height: 1.2;
          }

          & p {
            line-height: 1.4;
          }
        }
      }
    }

    & .service {
      gap: 4rem;
      padding: 8rem 2rem;

      & .service-title {
        font-size: 2.6rem;
        line-height: 1.4;
      }

      & .service-cards-box {
        gap: 2rem;

        & .card {
          height: 60rem;
          width: 100%;
          padding: 2.5rem;

          & .logo {
            height: 15rem;
            width: 75%;

            /* margin: 0; */
            margin-top: -3.5rem;
          }

          & .card-text-box {
            margin-top: -1rem;

            & .title {
              font-size: 2rem;
            }

            & p {
              font-size: 1.6rem;
              font-weight: 400;
              padding-bottom: 0;
            }

            & .contact {
              /* font-size: 1.6rem; */
              font-size: 1.8rem;
              width: 90%;
              padding: 2rem;
            }
          }
        }
      }
    }
  }

  & .footer {
    padding: 8rem 2.5rem;

    & .footer-box {
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      align-items: flex-start;

      & .icon {
      }

      & .footer-contact {
        flex-direction: column;

        & .number,
        .instagram {
          gap: 2rem;
        }
      }

      & .footer-address {
        gap: 2rem;
      }
    }

    & .footer-copy {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;

      font-size: 1.4rem;

      & #footer-text,
      #dev {
        width: 100%;
      }

      & #footer-text {
      }

      & #dev {
        justify-content: flex-start;
        & a {
          font-weight: 400;
        }
      }
    }
  }
}
